.set-path-container {
  margin: 50px auto 30px;
}

.set-path-title {
  width: 30%;
  margin: 0 auto;
}

.set-path-sentense {
  margin: 0 auto;
}

.set-path-wrapper {
  width: 50%;
  margin: 20px auto;
}